<section class="questions__container">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Questions récentes</h2>
                <ul>
                    <li><a href="/#/questions/110e8400-e29b-11d4-a716-446655440000/">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias corporis deleniti minus ? </a> <p>15 votes</p></li>
                    <li><a href="/#/questions/110e8400-e29b-11d4-a716-446655440000/">Lorem ipsum dolor sit amet, consectetur adipisicing elit ? </a> <p>12 votes</p></li>
                    <li><a href="/#/questions/334a7400-e29b-11d4-a716-234030230233/">Lorem ipsum dolor ?</a> <p>0 vote</p></li>
                    <li><a href="/#/questions/110e8400-e29b-11d4-a716-446655440000/">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat illo nihil nisi! ? </a> <p>12 votes</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>