<section class="index__hero">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12">
                <h1>vote de valeur vous aide à trouver un compromis</h1>

                <p>trouve la réponse qui convient au plus grand nombre</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
                <a href="/#/questions/" class="btn btn-primary btn-block">voir les dernières questions</a>
                <a href="/#/new/question/" class="btn btn-warning btn-block">pose ta question</a>
            </div>
        </div>
    </div>
</section>